*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, caption, tbody, tfoot, thead, tr, th,
fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  /*    line-height:1;*/ }

ol, ul {
  /*    list-style: none;*/ }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

/*table{
    border-collapse:collapse;
    border-spacing:0;
}*/
html, body {
  height: 100%; }

a {
  text-decoration: none;
  outline: 0; }

section, div, input, textarea {
  box-sizing: border-box; }

/* ------------------------------------------- */
.header, .header__right, .main, .column-left__header, .column-left__sort {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -o-flex;
  display: flex; }

.select-field {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.column-left__select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

/* ------------------------------------------- */
.btn a, .btn.small a, .button a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }

.transition {
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ------------------------------------------- */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter.eot");
  src: url("../fonts/Inter/Inter.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter.woff") format("woff"), url("../fonts/Inter/Inter.ttf") format("truetype"), url("../fonts/Inter/Inter.svg#partnercondensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", Arial, sans-serif; }

html, body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  letter-spacing: 0.01em;
  color: #7a8994;
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter", Arial, sans-serif; }

.container_width {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto; }

label {
  cursor: pointer; }

.c {
  clear: both; }

.cl {
  clear: left; }

.cr {
  clear: right; }

.abs {
  position: absolute; }

.relative {
  position: relative; }

.hidden {
  display: none; }

.hidden_i {
  display: none !important; }

.nowrap {
  white-space: nowrap; }

.center {
  text-align: center; }

.center_i {
  text-align: center !important; }

.left_i {
  text-align: left !important; }

.right {
  text-align: right; }

.right_i {
  text-align: right !important; }

.top {
  vertical-align: top; }

.top_i {
  vertical-align: top !important; }

.middle {
  vertical-align: middle; }

.bottom {
  vertical-align: bottom; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.left_f, .float_l {
  float: left; }

.right_f, .float_r {
  float: right !important; }

.inline {
  display: inline-block; }

.table {
  display: table;
  width: 100%; }

.table.auto {
  width: auto;
  margin: auto; }

.table.top .cell {
  vertical-align: top; }

.row_group {
  display: table-row-group; }

.row {
  display: table-row; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.underline a, a.underline {
  text-decoration: underline; }

/* ----------------------------------------- */
/*                  Inputs                   */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*              /// Inputs ///               */
/* ----------------------------------------- */
body {
  background-color: #fff;
  font-family: Arial; }

.container {
  min-width: 340px; }

.btn {
  display: inline-block;
  position: relative;
  z-index: 6; }
  .btn a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff !important;
    display: inline-block;
    padding: 15px 32px 17px;
    color: #fff;
    font-size: 16px; }
    .btn a:hover {
      color: white !important; }
  .btn.small a {
    font-size: 14px !important;
    display: inline-block;
    padding: 3px 15px 5px;
    color: #fff;
    font-size: 16px; }
  .btn.red a {
    background-color: #B31C10; }
    .btn.red a:hover {
      background-color: #B31C10; }
  .btn.black a {
    background-color: #000000; }
    .btn.black a:hover {
      background-color: #000000; }

.button a {
  display: inline-block;
  padding: 18px 24px;
  background-color: #e31e24;
  color: #fff;
  font-size: 16px;
  font-weight: 600; }
  .button a:hover {
    background-color: #f56e73; }
  @media only screen and (max-width: 991px) {
    .button a {
      padding: 14px 24px;
      font-size: 14px; } }

.select3 {
  position: relative; }
  .select3_disabled .select-field {
    color: #cacaca;
    background: #fff url("/img/ru/arrow_b_grey.png") no-repeat right center; }

.select-field {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  padding-right: 25px;
  background: #fff url("/img/ru/arrow_b.png") no-repeat right center;
  outline: none;
  cursor: default;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  border-bottom: 1px solid #F2F2F2; }
  .select-field_active {
    background: #fff url("/img/ru/arrow_t.png") no-repeat right center;
    border-bottom: 1px solid #E31E24; }

.select-options {
  position: absolute;
  width: 100%;
  max-height: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 10;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12); }
  .select-options__title {
    padding: 0px 16px 4px;
    color: #A5A5A5;
    font-size: 12px;
    font-weight: 600; }
  .select-options__item {
    padding: 12px 16px;
    cursor: pointer; }
    .select-options__item:hover {
      background-color: #e2e2e2; }
    .select-options__item_selected {
      background-color: #80b9e3; }
      .select-options__item_selected .select-options__wallet-amount {
        color: #000; }
    .select-options__item_focused {
      background-color: #e2e2e2 !important; }
      .select-options__item_focused .select-options__wallet-amount {
        color: #000; }
    .select-options__item mark {
      background-color: #cbe9ff; }
  .select-options__option {
    color: #000;
    font-size: 14px; }
  .select-options__value {
    display: none; }
  .select-options__no-matches {
    padding: 15px 16px; }

.header {
  padding: 10px 24px;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4; }
  .header__ip {
    padding: 5px 11px;
    background-color: #4971dc;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .header__right {
    text-align: right; }
  .header__bell {
    position: relative;
    width: 20px;
    height: 26px;
    margin-top: 6px;
    margin-right: 25px;
    background-image: url("../img/ico_bell.png");
    background-repeat: no-repeat; }
  .header__total-messages {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    padding: 2px 0px;
    background-color: #e6534c;
    text-align: center;
    color: #fff;
    font-size: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .header__ava img {
    max-width: 34px; }

.column-left {
  flex: 1 0 327px;
  padding-top: 24px; }
  .column-left__header {
    padding: 0px 24px 20px;
    justify-content: space-between; }
  .column-left__header-title {
    color: #000;
    font-size: 24px;
    font-weight: bold; }
  .column-left__header-plus {
    display: inline-block;
    width: 24px;
    height: 25px;
    padding-bottom: 1px;
    background-color: #e9eefc;
    text-align: center;
    line-height: 26px;
    color: #3690fb;
    font-size: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .column-left__search {
    position: relative;
    padding: 0px 24px 20px; }
  .column-left__search-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 20px 0px 37px;
    background-color: #f1f3f9;
    color: #2A2A2A;
    font-size: 15px;
    border: 0px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px; }
  .column-left__search-button {
    position: absolute;
    top: 12px;
    left: 34px;
    width: 16px;
    height: 16px;
    background-image: url("../img/search.svg");
    background-size: auto 100%; }
  .column-left__sort {
    padding: 0px 24px 24px;
    justify-content: flex-start; }
  .column-left__sort-title {
    padding-right: px;
    color: #2A2A2A;
    font-size: 12px;
    opacity: 0.5; }
  .column-left__select {
    position: relative;
    width: 80px;
    height: 16px;
    margin: 0px;
    padding-right: 16px;
    border: 0px; }
    .column-left__select::before {
      content: "";
      position: absolute;
      top: 5px;
      right: 16px;
      width: 10px;
      height: 5px;
      background-image: url("../img/chevron-down.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      border: 1px solid red;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

/*# sourceMappingURL=style.css.map */
