.main{
  @extend %flex;
}
.column-left{
  flex: 1 0 327px;
  padding-top: 24px;
  &__header{
    padding: 0px 24px 20px;
    justify-content: space-between;
    @extend %flex;
  }
  &__header-title{
    color: #000;
    font-size: 24px;
    font-weight: bold;
  }
  &__header-plus{
    display: inline-block;
    width: 24px;
    height: 25px;
    padding-bottom: 1px;
    background-color: #e9eefc;
    text-align: center;
    line-height: 26px;
    color: #3690fb;
    font-size: 26px;
    @include radius(2px);
  }
  &__search{
    position: relative;
    padding: 0px 24px 20px;
  }
  &__search-input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 20px 0px 37px;
    background-color: #f1f3f9;
    color: #2A2A2A;
    font-size: 15px;
    border: 0px;
    @include radius(24px);
  }
  &__search-button{
    position: absolute;
    top: 12px;
    left: 34px;
    width: 16px;
    height: 16px;
    background-image: url("../img/search.svg");
    background-size: auto 100%;
  }
  &__sort{
    padding: 0px 24px 24px;
    justify-content: flex-start;
    @extend %flex;
  }
  &__sort-title{
    padding-right: px;
    color: #2A2A2A;
    font-size: 12px;
    opacity: 0.5;
  }
  &__select{
    position: relative;
    width: 80px;
    height: 16px;
    margin: 0px;
    padding-right: 16px;
    border: 0px;
    @extend %appearance;
    &::before{
      content: "";
      position: absolute;
      top: 5px;
      right: 16px;
      width: 10px;
      height: 5px;
      background-image: url("../img/chevron-down.svg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      border: 1px solid red;
      @include transform(180deg);
    }
  }
  &__{

  }
  &__{

  }
  &__{

  }
  &__{

  }
  &__{

  }
  &__{

  }
  &__{

  }
}