.header{
  padding: 10px 24px;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
  @extend %flex;
  &__ip{
    padding: 5px 11px;
    background-color: #4971dc;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    @include radius(2px);
  }
  &__right{
    text-align: right;
    @extend %flex;
  }
  &__bell{
    position: relative;
    width: 20px;
    height: 26px;
    margin-top: 6px;
    margin-right: 25px;
    background-image: url("../img/ico_bell.png");
    background-repeat: no-repeat;
  }
  &__total-messages{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    padding: 2px 0px;
    background-color: #e6534c;
    text-align: center;
    color: #fff;
    font-size: 10px;
    @include radius(50%);
  }
  &__ava{
    & img{
      max-width: 34px;
    }
  }
}
