.btn{
	display:inline-block;
	position:relative;
	z-index:6;
	& a{
		display:block;
		font-size:16px;
		font-weight:bold;
		@include link(#fff, a);
		@include button(15, 32);
	}
	&.small{
		a{
			font-size:14px !important;
			@include button(3, 15);
		}
	}
	&.red{
		& a{
			@include button_color(#B31C10, #B31C10);
		}
	}
	&.black{
		& a{
			@include button_color(#000000, #000000);
		}
	}
}

.button{
	& a{
		display: inline-block;
		padding: 18px 24px;
		background-color: #e31e24;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		@extend %transition;
		&:hover{
			background-color: #f56e73;
		}
		@include respond-to(tablet-l){
			padding: 14px 24px;
			font-size: 14px;
		}
	}
}
