@font-face{
  font-family:"Inter";
  src:url("../fonts/Inter/Inter.eot");
  src:url("../fonts/Inter/Inter.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter.woff") format("woff"), url("../fonts/Inter/Inter.ttf") format("truetype"), url("../fonts/Inter/Inter.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
