html, body{
	height:100%;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	letter-spacing: 0.01em;
	color: #7a8994;
	font-size: $font_size;
	font-weight: normal;
	font-family: $font_family;
}
.container_width{
    max-width:1200px;
    min-width:320px;
	margin:0 auto;
}
label{
	cursor:pointer;
}
.c{
	clear:both;
}
.cl{
	clear:left;
}
.cr{
	clear:right;
}
.abs{
	position:absolute;
}
.relative{
	position:relative;
}
.hidden{
	display:none;
}
.hidden_i{
	display:none !important;
}
.nowrap{
	white-space:nowrap;
}
.center{
	text-align:center;
}
.center_i{
	text-align:center !important;
}
.left_i{
	text-align:left !important;
}
.right{
	text-align:right;
}
.right_i{
	text-align:right !important;
}
.top{
	vertical-align:top;
}
.top_i{
	vertical-align:top !important;
}
.middle{
	vertical-align:middle;
}
.bottom{
	vertical-align:bottom;
}
.bold{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.upper{
	text-transform:uppercase;
}
.lower{
	text-transform:lowercase;
}
.capitalize{
	text-transform:capitalize;
}
.left_f, .float_l{
	float:left;
}
.right_f, .float_r{
	float:right !important;
}
.inline{
	display:inline-block;
}
.table{
	display:table;
	width:100%;
}
.table.auto{
	width:auto;
	margin:auto;
}
.table.top .cell{
	vertical-align:top;
}
.row_group{
	display:table-row-group;
}
.row{
	display:table-row;
}
.cell{
	display:table-cell;
	vertical-align:middle;
}
.underline a, a.underline{
	text-decoration:underline;
}
/* ----------------------------------------- */
/*                  Inputs                   */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*              /// Inputs ///               */
/* ----------------------------------------- */
.transition{
	@extend %transition8;
}
