/* ------------------------------------------- */
@mixin radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
}
@mixin radius_one($radius, $ver, $hor){
	-webkit-border-#{$ver}-#{$hor}-radius:$radius;
	-moz-border-#{$ver}-#{$hor}-radius:$radius;
	border-#{$ver}-#{$hor}-radius:$radius;
}
@mixin shadow($value){
	-webkit-box-shadow:$value;
	-moz-box-shadow:$value;
	box-shadow:$value;
}
@mixin button($padd_y:7, $padd_x:17){
	display:inline-block;
	padding:#{$padd_y}px #{$padd_x}px #{$padd_y+2}px;
	color:#fff;
	font-size:16px;
	@extend %transition;
//	@include radius(3px);
}
@mixin button_color($color, $color_hover){
	background-color:$color;
	&:hover{
		background-color:$color_hover;
	}
}
@mixin rect($color, $padd_y:3px, $padd_x:10px){
	display:inline-block;
	padding:$padd_y $padd_x;
	background-color:$color;
	color:#fff;
}
@mixin link($color, $type:""){
	color:$color !important;
	@if $type == a
	{
		&:hover{
			color:lighten($color, 30%) !important;
		}
	}
}
@mixin transform($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);	
}
%flex{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-o-flex;
	display:flex;
}
%selection{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
%appearance{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/* ------------------------------------------- */
%transition{
	-webkit-transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-o-transition:all 0.2s ease 0s;
	transition:all 0.2s ease 0s;
}
%transition5{
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
}
%transition8{
	-webkit-transition:all 0.8s ease 0s;
	-moz-transition:all 0.8s ease 0s;
	-o-transition:all 0.8s ease 0s;
	transition:all 0.8s ease 0s;
}
%font_property{
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
/* ------------------------------------------- */

@mixin respond-to($media){
	@if $media == mobile-i{
		@media only screen and (max-width: $mobile-i){
			@content;
		}
	}
	@else if $media == mobile-s{
		@media only screen and (max-width: $mobile-s){
			@content;
		}
	}
	@else if $media == mobile-m{
		@media only screen and (max-width: $mobile-m){
			@content;
		}
	}
	@else if $media == mobile-l{
		@media only screen and (max-width: $mobile-l){
			@content;
		}
	}
	@else if $media == tablet-s{
		@media only screen and (max-width: $tablet-s){
			@content;
		}
	}
	@else if $media == tablet-m{
		@media only screen and (max-width: $tablet-m){
			@content;
		}
	}
	@else if $media == tablet-mm{
		@media only screen and (max-width: $tablet-mm){
			@content;
		}
	}
	@else if $media == tablet-l{
		@media only screen and (max-width: $tablet-l){
			@content;
		}
	}
	@else if $media == desktop-s{
		@media only screen and (max-width: $desktop-s){
			@content;
		}
	}
	@else if $media == desktop-m{
		@media only screen and (max-width: $desktop-m){
			@content;
		}
	}
	@else if $media == desktop-mm{
		@media only screen and (max-width: $desktop-mm){
			@content;
		}
	}
	@else if $media == desktop-l{
		@media only screen and (max-width: $desktop-l){
			@content;
		}
	}
}
