.select3{
  position: relative;
  &_disabled{
    & .select-field{
      color: #cacaca;
      background: #fff url("/img/ru/arrow_b_grey.png") no-repeat right center;
    }
  }
}
.select-field{
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  padding-right: 25px;
  background: #fff url("/img/ru/arrow_b.png") no-repeat right center;
  outline: none;
  cursor: default;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  border-bottom: 1px solid #F2F2F2;
  @extend %selection;
  &_active{
    background: #fff url("/img/ru/arrow_t.png") no-repeat right center;
    border-bottom: 1px solid #E31E24;
  }
}
.select-options{
  //display: none;
  position: absolute;
  width: 100%;
  max-height: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 10;
  @include shadow(0 4px 12px 0 rgba(0,0,0,0.12));
  &__title{
    padding: 0px 16px 4px;
    color: #A5A5A5;
    font-size: 12px;
    font-weight: 600;
  }
  &__item{
    padding: 12px 16px;
    cursor: pointer;
    &:hover{
      background-color: #e2e2e2;
    }
    &_selected{
      background-color: #80b9e3;
      & .select-options__wallet-amount{
        color: #000;
      }
    }
    &_focused{
      background-color: #e2e2e2 !important;
      & .select-options__wallet-amount{
        color: #000;
      }
    }
    & mark{
      background-color: #cbe9ff;
    }
  }
  &__option{
    color: #000;
    font-size: 14px;
  }
  &__value{
    display: none;
  }
  &__no-matches{
    padding: 15px 16px;
  }
}