$font_family: "Inter", Arial, sans-serif;
$font_size: 14px;

$desktop-l: 1440px;
$desktop-mm: 1360px;
$desktop-m: 1280px;
$desktop-s: 1030px;
$tablet-l: 991px;
$tablet-mm: 830px;
$tablet-m: 768px;
$tablet-s: 670px;
$mobile-l: 590px;
$mobile-m: 470px;
$mobile-s: 370px;
$mobile-i: 340px;
